// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}




body {
    background : #495A4F
  }

footer {
  padding: 3rem;
  color: white;

}

ul {
  list-style-type: none;
  display: flex;
}


.h1-modak {
  font-family: "Modak", system-ui;
  color: #495A4F;
  font-size: 3.5rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

.h1-inter{
  font-family: "Inter", sans-serif;
  color: #FFA310;
  font-size: 2.4rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


h3 {
  font-family: "Inter", sans-serif;
  color: #FFA310;
  font-size: 0.9rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


p {
  font-family: "Inter", sans-serif;
  color: #495A4F;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.pill {
  font-family: "Inter", sans-serif;
  color: #e7e7e7;
  background-color:#FFA310;
  border-radius: 3rem;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding: 1rem;
  margin: 0.2rem;


}

.flex-container {
display: flex; 
flex-direction: row;
justify-content: space-between;

}

.temp-duration-container{
  display: flex; 
  flex-direction: column;
  justify-content:center;

  
  }


.section-left {
  padding: 3rem;
  background-color: #e7e7e7;
  border-radius: 2rem;
  width: 30vw;
  }

  .section-right {
    margin: 2rem;
    padding: 2rem;
    background-color: #e7e7e7;
    border-radius: 2rem;
    width: 70vw;
    }

.header {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  
  }

h1 {
  size: 400px;
}

.section-left {

}



.section-right {

}